Django==4.2.13
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
psycopg2-binary==2.9.9
python-dotenv==1.0.1
django-filter==24.2
celery==5.3.6
redis==5.0.1
django-celery-beat==2.6.0
requests==2.31.0
intuit-oauth
python-quickbooks
pyotp==2.9.0
qrcode[pil]==7.4.2
